<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/auth/css/styles.css">
    <link rel="stylesheet" th:href="${appCss}!=null?appCss:'none'">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:text="${appName}" />
</head>
<body>
<div class="container" id="loginContainer">
    <div id="formContainer">
        <h3 th:text="${appName}"></h3>
        <form action="#" th:object="${login}" method="post">
            <div class="form-group">
                <label for="userName" th:text="#{login.username}"></label>
                <input type="email" class="form-control" id="userName" aria-describedby="emailHelp"
                       placeholder="Enter email" th:field="*{userName}">
                <small id="emailHelp" class="form-text text-muted" th:errors="*{userName}">&nbsp;
                </small>
            </div>
            <div class="form-group">
                <label for="password" th:text="#{login.password}"></label>
                <input type="password" class="form-control"  th:field="*{password}" id="password" placeholder="Password">
                <small id="passwordHelp" class="form-text text-muted" th:errors="*{password}">&nbsp
                </small>
            </div>
            <div class="form-group">
                <button type="submit" th:formaction="@{/auth/oauth2/authorize}" class="btn btn-primary">Submit</button>
                <button type="submit" th:formaction="@{/auth/oauth2/cancel}" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
